body {
    font-family: "Arial", "Meiryo", sans-serif;
  }
  
.google-fonts {
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight:400;
        font-style:normal;
}
  .blue{
    color:skyblue;
  }

  .pink{
  color:rgb(255,192,203);
}

html {
  font-size: 20px;
}
#basic{font-size: 2em;}
h1 {
   font-size: 2rem;
   letter-spacing: 3.0rem;
   text-shadow: 2px 2px 5px rgb(0,0,0,0.5);
   text-align: center;
    border-bottom: 3px solid rgb(115,115,114);
  }

.text-pink {
  text-align: center;
  color: pink;
}

.text-skyblue {
  color: skyblue;
  text-align: center;
}


p{
  text-align: center;
}

#basic p {
   font-weight: normal;
}

#basic .bold {
   font-weight: bold;
}